Repository the-scouts/incognita, pull requests merged in 2020-04, with the labels that each got.

#35 Use automated code formatting
  .github/labeler.yml
  .pre-commit-config.yaml
  .travis.yml
  README.md
  docs/source/conf.py
  pyproject.toml
  pytest.ini
  requirements.txt
  scripts/map_add_custom_data.py
  scripts/map_awards_script.py
  scripts/map_county_imd_map.py
  scripts/map_district_areas.py
  scripts/map_uk_uptake_script.py
  scripts/map_uptake_script.py
  scripts/map_uptake_with_imd_script.py
  scripts/map_west_yorkshire_lsoas.py
  scripts/map_young_person_uk_map.py
  scripts/reports_uk_imd_report.py
  scripts/setup_reduce_onspd.py
  setup.py
  src/base.py
  src/data/census_merge_data.py
  src/data/ons_pd.py
  src/data/ons_pd_may_18.py
  src/data/ons_pd_may_19.py
  src/data/scout_census.py
  src/data/scout_data.py
  src/geographies/district_boundaries.py
  src/geographies/geography.py
  src/log_util.py
  src/maps/dashboard.py
  src/maps/map.py
  src/maps/map_plotter.py
  src/reports/history_summary.py
  src/reports/reports.py
  src/utility.py
  tests/test_base.py
Labels: documentation, enhancement, scripts

#38 Add reduced and full ONS PD options
  scripts/map_add_custom_data.py
  scripts/map_west_yorkshire_lsoas.py
  scripts/settings.json
  scripts/setup_data_file.py
  scripts/setup_reduce_onspd.py
  src/data/ons_pd.py
  src/data/ons_pd_may_19.py
  src/data/scout_data.py
Labels: scripts

#39 Census 2020
  scripts/setup_data_file.py
  src/data/census_merge_data.py
  src/data/scout_census.py
  src/data/scout_data.py
  src/maps/map.py
  src/reports/history_summary.py
  src/reports/reports.py
  src/utility.py
Labels: scripts

#40 Update dependencies
  README.md
  docs/source/conf.py
  environment.yml
  setup.py
Labels: documentation

#42 Relocate magic strings to ScoutCensus
  scripts/setup_data_file.py
  src/data/scout_census.py
Labels: scripts

#43 Tests
  .gitignore
  environment.yml
  scripts/map_all_uptake_script.py
  scripts/settings.json
  src/data/ons_pd_may_19.py
  src/data/scout_data.py
  src/maps/map.py
  src/reports/reports.py
  src/utility.py
  tests/test_scout_data.py
Labels: scripts, tests

#45 Fix IMD deciles on LSOA reports
  scripts/history_group_history_IMD_script.py
  scripts/history_group_history_YUF_script.py
  scripts/history_opened_sections_history.py
  scripts/history_section_history.py
  scripts/history_section_mapping_script.py
  scripts/map_all_uptake_script.py
  scripts/map_county_imd_map.py
  scripts/map_west_yorkshire_lsoas.py
  scripts/reports_uk_imd_report.py
  scripts/settings.json
  scripts/setup_data_file.py
  scripts/setup_reduce_onspd.py
  src/data/ons_pd_may_19.py
  src/data/scout_data.py
  src/reports/reports.py
  tests/test_scout_data.py
  tests/test_utility.py
Labels: bug, scripts, tests

#46 Combine scripts
  .gitignore
  scripts/history_group_history_IMD_script.py
  scripts/history_group_history_YUF_script.py
  scripts/history_opened_sections_history.py
  scripts/history_section_history.py
  scripts/history_section_mapping_script.py
  scripts/map_add_custom_data.py
  scripts/map_all_uptake_script.py
  scripts/map_awards_script.py
  scripts/map_county_imd_map.py
  scripts/map_district_areas.py
  scripts/map_uk_uptake_script.py
  scripts/map_uptake_script.py
  scripts/map_uptake_with_imd_script.py
  scripts/map_west_yorkshire_lsoas.py
  scripts/map_young_person_uk_map.py
  scripts/reports_uk_imd_report.py
  src/data/census_merge_data.py
  src/data/scout_census.py
  src/maps/map.py
Labels: enhancement, scripts
